@model IEnumerable<FinalAssignment.DAL.Data.Model.Facility>

@{
    ViewData["Title"] = "Index";
}

<h1  style="text-align:center;">Index</h1>

<p >
    <a  class="btn btn-outline-primary mx-2" asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-bordered w-50 " style="margin:auto ">
    <thead style="background-color:cornflowerblue">
        <tr class="text-white">
            <th>
                @Html.DisplayNameFor(model => model.FacilityType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacilityType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
